:root{
    --grid-cols: 1;
    --grid-rows: 1; 
}

body{
    display: flex; 
    flex-direction: column; 
    align-items: center;
    
}



#container {
    display: grid;
    align-content: center; 
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    height: 500px;
    width: 500px; 
    border: 1px solid rgb(0, 0, 0); 
}

button {
    height: 5%; 
    width: 10%; 
}

#customGrid{
    margin-bottom: 3%;
}

#resetBtn{
    margin-top: 3%; 
}

.grid-item {
    border: 1px solid rgb(0, 0, 0); 
}
